<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.properties"
            file-extensions="jpf"
            id="com.javapathfinder.vjp.configContentType"
            name="JPF Config File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="runjpf.jpfConfigLaunch"
            nameFilter="*.jpf"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="gov.nasa.runjpf.VerifyActionDelegate"
               enablesFor="1"
               id="RunJPF.verifyaction"
               label="Verify..."
               menubarPath="additions"
               tooltip="Execute this property file as a JPF configuration">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gov.nasa.runjpf.options.Preferences"
            id="eclipse-jpf.preferences"
            name="JPF Preferences">
      </page>
   </extension>
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer class="gov.nasa.runjpf.options.DefaultPreferences" />
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="eclipse-jpf.category.wizards"
          name="JPF">
    </category>
    <wizard
          category="eclipse-jpf.category.wizards"
          class="gov.nasa.runjpf.wizard.NewJPFProjectWizard"
          hasPages="true"
          id="eclipse-jpf.wizard.new.jpfproject"
          name="JPF Project"
          project="true">
    </wizard>
 </extension>
</plugin>
